<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1">
<head>
    <meta charset="UTF-8">
    <title>Client List</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
</head>
<body>

<div layout:fragment="content1">
    <div class="container mt-2">
        <title>Liste des Clients</title>

        <div class="card">
            <div class="card-header">Liste des Clients</div>
            <div class="card-body">
                <form th:action="@{index}" method="get">
                    <label>Mot-clé</label>
                    <input type="text" name="keyword" th:value="${keyword}">
                    <button class="btn btn-primary" type="submit">Rechercher</button>
                </form>
                <table class="table table-bordered table-dark mt-5 table-striped table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Type</th>
                        <th>ICE</th>
                        <th>CIN</th>
                        <th colspan="2" class="text-center">ACTIONS</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="c:${listClients}">
                        <td th:text="${c.id}"></td>
                        <td th:text="${c.nom}"></td>
                        <td th:text="${c.adresse}"></td>
                        <td th:text="${c.typeClient}"></td>
                        <td th:text="${c.ICE}"></td>
                        <td th:text="${c.CIN}"></td>
                        <td>
                            <a class="btn btn-primary" th:href="@{update(id=${c.id},page=${currentPage},keyword=${keyword})}">
                                Modifier
                            </a>
                        </td>
                        <td>
                            <a onclick="return confirm('Are you sure?')" class="btn btn-danger" th:href="@{delete(id=${c.id},keyword=${keyword},page=${currentPage})}">
                                Supprimer
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <ul class="nav nav-pills">
                    <li th:each="page,status:${pages}">
                        <a th:text="${status.index}" th:class="${status.index==currentPage} ? 'btn btn-primary ms-1' : 'btn btn-outline-primary ms-1'" th:href="@{index(page=${status.index},keyword=${keyword})}">
                        </a>
                    </li>
                </ul>
                <a class="btn btn-success mt-2" th:href="@{/formClients}">
                    Ajouter Client
                </a>
            </div>
        </div>
    </div>
</div>
<script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.js"></script>
</body>
</html>
