<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1">
<head>
    <meta charset="UTF-8">
    <title>Form Police</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content1">
    <div class="container mt-2">
        <div class="card">
            <div class="card-header">New Police</div>
            <div class="card-body">
                <form th:action="@{/savePolice}" th:object="${police}" method="post">
                    <div class="form-group">
                        <label for="typePolice">Type Police</label>
                        <input type="text" th:field="*{typePolice}" class="form-control" id="typePolice">
                    </div>
                    <div class="form-group">
                        <label for="tarif">Tarif</label>
                        <input type="number" step="0.01" th:field="*{tarif}" class="form-control" id="tarif">
                    </div>
                    <div class="form-group">
                        <label for="compteur5Chiffres">Compteur</label>
                        <input type="number" th:field="*{compteur5Chiffres}" class="form-control" id="compteur5Chiffres">
                    </div>
                    <div class="form-group">
                        <label for="utilisateur">Utilisateur</label>
                        <select th:field="*{utilisateur}" class="form-control" id="utilisateur">
                            <option th:each="utilisateur : ${utilisateurs}"
                                    th:value="${utilisateur.id}"
                                    th:text="${utilisateur.nom}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="client">Client</label>
                        <select th:field="*{client}" class="form-control" id="client">
                            <option th:each="client : ${clients}"
                                    th:value="${client.id}"
                                    th:text="${client.nom}"></option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success mt-2">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
