<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1">
<head>
    <meta charset="UTF-8">
    <title>Port List</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
</head>
<body>

<div layout:fragment="content1">
    <div class="container mt-2">
        <h1>List of Ports</h1>
        <div class="card">
            <div class="card-header">List of Ports</div>
            <div class="card-body">
                <form th:action="@{/ports}" method="get" class="mb-3">
                    <label>Keyword</label>
                    <input type="text" name="keyword" th:value="${keyword}" class="form-control">
                    <button class="btn btn-primary mt-2" type="submit">Search</button>
                </form>
                <table class="table table-striped shadow">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Libelle</th>
                        <th>Taux Taxe Regional</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="p : ${listPorts}">
                        <td th:text="${p.id}"></td>
                        <td th:text="${p.libelle}"></td>
                        <td th:text="${p.tauxTaxeRegional}"></td>
                        <td>
                            <a class="btn btn-primary btn-sm" th:href="@{/updatePort(id=${p.id},page=${currentPage},keyword=${keyword})}">Update</a>
                            <a onclick="return confirm('Are you sure?')" class="btn btn-danger btn-sm" th:href="@{/deletePort(id=${p.id},keyword=${keyword},page=${currentPage})}">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <nav>
                    <ul class="nav nav-pills">
                        <li th:each="page,status:${pages}">
                            <a th:text="${status.index}" th:class="${status.index==currentPage} ? 'btn btn-primary ms-1' : 'btn btn-outline-primary ms-1'" th:href="@{index(page=${status.index},keyword=${keyword})}">
                            </a>
                        </li>
                    </ul>
                </nav>
                <a class="btn btn-success mt-2" th:href="@{/formPorts}">Add New Port</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
