<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1">
<head>
    <meta charset="UTF-8">
    <title>Releve List</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
</head>
<body>

<div layout:fragment="content1">
    <div class="container mt-2">
        <h1>List of Releves</h1>
        <div class="card">
            <div class="card-header">List of Releves</div>
            <div class="card-body">
                <form th:action="@{/releves}" method="get" class="mb-3">
                    <label>Start Date</label>
                    <input type="date" name="startDate" th:value="${startDate}" class="form-control mb-2">
                    <label>End Date</label>
                    <input type="date" name="endDate" th:value="${endDate}" class="form-control mb-2">
                    <button class="btn btn-primary mt-2" type="submit">Search</button>
                </form>
                <table class="table table-striped shadow">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Date Relevé</th>
                        <th>Ancienne Lecture</th>
                        <th>Nouvelle Lecture</th>
                        <th>Quantité Consommée</th>
<!--                        <th>Date Début</th>-->
<!--                        <th>Date Fin</th>-->
                        <th>Police</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="r : ${listReleves}">
                        <td th:text="${r.id}"></td>
                        <td th:text="${#dates.format(r.dateRelevé, 'dd-MMM-yyyy')}"></td>
                        <td th:text="${r.ancienneLecture}"></td>
                        <td th:text="${r.nouvelleLecture}"></td>
                        <td th:text="${r.quantiteConsommee}"></td>
<!--                        <td th:text="${#dates.format(r.dateDebut, 'dd-MMM-yyyy')}"></td>-->
<!--                        <td th:text="${#dates.format(r.dateFin, 'dd-MMM-yyyy')}"></td>-->
                        <td th:text="${r.police.typePolice}"></td>
                        <td>
                            <a th:href="@{/generateFacture(id=${r.id})}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-journal-text" viewBox="0 0 16 16">
                                    <path d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5"/>
                                    <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2"/>
                                    <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z"/>
                                </svg>
                            </a>
                            <a class="btn btn-primary btn-sm" th:href="@{/updateReleve(id=${r.id},page=${currentPage},startDate=${startDate},endDate=${endDate})}">Update</a>
                            <a onclick="return confirm('Are you sure?')" class="btn btn-danger btn-sm" th:href="@{/deleteReleve(id=${r.id},startDate=${startDate},endDate=${endDate},page=${currentPage})}">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <a class="btn btn-success mt-2" th:href="@{/formReleve}">Add New Releve</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
